<div class="card">
    <div class="card-header" id="colorful-header">
        <h2>Composer</h2>
    </div>
    <form class="form card-body" action="{{ url_for('forum.composer') }}" method="POST">
        <input type="text" placeholder="Title*" name="title">
        <textarea name="content" cols="100" rows="10" placeholder="Content*"></textarea>
        <textarea name="excerpt" cols="100" rows="3" id="excerpt" placeholder="Excerpt"></textarea>
        <input type="text" placeholder="Keywords (seperate with comma)" name="keywords">
        <button type="submit" class="auth-button"><i class="fa-solid fa-circle-plus"></i>Post</button>
        <p>Or <b><a href="{{ url_for('security.sign_up') }}">become a member</a></b></p>
    </form>
</div>