<a href="{{ url_for('forum.post', post_id=post.Post.id) }}" title="{{ post.Post.title }}">
    <div class="card">
        <div class="card-body">
            <h3>
                {% if post.Post.pinned %}
                <i class="fa-solid fa-thumbtack" title="This post is marked as pinned"></i>
                {% elif post.Post.sticky %}
                <i class="fa-solid fa-file-circle-exclamation" title="This post is marked as sticky"></i>
                {% elif post.User.is_system %}
                <i class="fa-solid fa-shield-halved" title="This post was published by the system"></i>
                {% else %}
                <i class="fa-solid fa-clone" title="This is a regular post"></i>
                {% endif %}
                {{ post.Post.title }}
            </h3>
            <p class="truncate">Published by {{ post.User.username }} {{ post.Post.created_at | prettifyDateTime() }} in {{ post.Post.category }}</p>
        </div>
    </div>
</a>